<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
  

<header>
  
  <% include ./partials/_header.ejs %>
  
</header>
<body style="font-size:20px; padding:50px;">


    <div style="display: inline;">
    <% if(userlist[user_id] === undefined){ %>
    <div style="padding-left: 1em; padding-right: 1em; ">
      <h1>Welcome to TinyApp</h1>
      <p>Please log in or register </p>
    </div>
    <%} else {%>
      <h2>TinyApp URLS for: <%= userlist[user_id].email %>:
      <ul>
      <% for (var entry in urls) { if (urls[entry] === user_id) {%>
        <li><%= entry %>: <a href="<%= urls[entry].longURL %>"><%= urls[entry].longURL %></a></li>
        <a href="urls/<%- entry %>">Edit</a>
        <form method="POST" action="/urls/<%= entry %>/delete">
          <button type="submit">DELETE</button>
        </form>
        </br>
      <%}; }; %>
      </ul>
    <% }%>
    </div>
      
</body>
</html>



